<div style="display: flex; justify-content: center; margin-top: 100px">
  <form
    class="form-signin"
    [formGroup]="signupForm"
    (ngSubmit)="registerUser()"
  >
    <mat-card style=" display: flex; flex-direction: column; min-width: 300px">
      <mat-card-title style="text-align: center; margin: 10px">Créer un compte</mat-card-title>
      <mat-form-field class="example-full-width" appearance="fill" style="margin-top:30px">
        <mat-label>Pseudo</mat-label>
        <input
          class="form-control"
          formControlName="username"
          pattern="^[a-zA-Z]*"
          matInput>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          class="form-control"
          formControlName="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          matInput>
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput
               class="form-control"
               formControlName="password"
               pattern="^[a-zA-Z]*"
               type="password">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirmation mot de passe</mat-label>
        <input matInput
               pattern="^[a-zA-Z]*"
               type="password">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Prénom</mat-label>
        <input
          class="form-control"
          formControlName="firstName"
          matInput>
        <mat-icon matSuffix>title</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nom de famille</mat-label>
        <input
          class="form-control"
          formControlName="lastName"
          matInput>
        <mat-icon matSuffix>title</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Téléphone</mat-label>
        <input
          class="form-control"
          pattern="^[0-9]*"
          formControlName="phone"
          matInput>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <mat-card-actions align="end">
        <button style="margin: 10px" mat-flat-button color="primary" mat-button type="submit">VALIDER</button>
        <button style="margin: 10px" mat-flat-button color="primary" mat-button (click)="navigateToLoginForm()">DÉJÀ UN COMPTE ?</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
